.login_form{    
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
    color: white;
    border: 2px solid #f1f1f1;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    
  }
  .lbl2 {
    text-align: center;
}

.credentials_forgot{
    text-align: center;
}





.submit2 input{
    font-size: 20px;
    background-color: #07166b;
    color: #fff;
    height: 40px;
    width: 100px;
    border: 1px solid #5a5858;
    border-radius: 10px;
    font-family:'tw cen MT';
}

.submit2 input:hover {

    background-color: #091c88;
    color: #fff;
    font-size: 22px;
    height: 43px;
    width: 105px;
}

.submit2{
    text-align: center;
}

label {
    font-size: 35px;
    font-family: 'tw cen MT';
}
