.bg_pass_account{
    background-image:url("../images/home_bg.jpg");
    height: 100%; 
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

table{
    width:80%;
    font-size: 20px;
    margin-left: 50px;
    margin-left: 50px;

}
th, tr {
    height: 50px;
}
td{
    width:50%;
}


.pass_account {
    background-color: rgb(247, 243, 243); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/opacity/see-through */
  color: rgb(0, 0, 0);
  border: 2px solid #f1f1f1;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50px;
  width: 800px;
  height: 599px;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family:'tw cen MT';
}


.pass_account1 {
    background-color: rgb(247, 243, 243); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.5); /* Black w/opacity/see-through */
  color: rgb(0, 0, 0);
  border: 2px solid #f1f1f1;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50px;
  width: 800px;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family:'tw cen MT';
}
#ta_selected{
    color: #091c88;
    font-style: underline;
}
body, html {
    height: 100%;
    margin: 0;
  }

* {
    box-sizing: border-box;
  }
  

  .signup{
    text-align: center;
}

#signup1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:#07166b;
    color: #fff;
    height: 50px;
    width: 150px;
    border: 1px solid #5a5858;
    border-radius: 15px;
    font-family:'tw cen MT';
    margin-left: 40px;
}

#signup1:hover{
    background-color: #091c88;
    color: #fff;
    font-size: 25px;
    height: 55px;
    width: 160px;
}

#signup2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color:#07166b;
    color: #fff;
    height: 50px;
    width: 230px;
    border: 1px solid #5a5858;
    border-radius: 15px;
    font-family:'tw cen MT';
    margin-left: 40px;
}

#signup2:hover{
    background-color: #091c88;
    color: #fff;
    font-size: 25px;
    height: 55px;
    width: 240px;
}